{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} About You {% endblock %}</h1>
<form>
	<div class="form-group w-25 p-3">

		<label for="age">Age</label>
		<input type="text" class="form-control w-25 p-3" id="age">

		<label for="country">Nationality</label>
		<select class="selectpicker countrypicker form-control" data-default="GB" id="country"></select>

		<label for="gender">Gender</label>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="gender" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Select</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Male</a>
				<a class="dropdown-item" href="#">Female</a>
				<a class="dropdown-item" href="#">Other</a>
				<a class="dropdown-item" href="#">Prefer not to say</a>

			</div>
		</div>
	</div>
</div>
<a href="{{ url_for('bigfive_page')}}"><input type=”button” value="Next" class="btn btn-success"></a> 

</form>





<script>
	$('.countrypicker').countrypicker();
</script>
{% endblock %}
