{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} {% endblock %}</h1>

<h4>I see myself as someone who...</h4>
<form method="post">
    <div class="question">
        <p><strong>Have frequent mood swings</strong>:</p>
        <div class="radio form-check">
        <label class="form-check">
            <input type="radio" name="one" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="one" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="one" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="one" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="one" value="5">Strongly Agree</label>
        </div>
    </div>
    <div class="question">
        <p><strong>Worry about things</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="two" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="two" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="two" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="two" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="two" value="5">Strongly Agree</label>
        </div>
    </div>
    <div class="question">
        <p><strong>Seldom feel blue</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="three" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="three" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="three" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="three" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="three" value="5">Strongly Agree</label>
        </div>
    </div>
    <div class="question">
        <p><strong>Am relaxed most of the time</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="four" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="four" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="four" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="four" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="four" value="5">Strongly Agree</label>
        </div>
    </div>
        <div class="question">
        <p><strong>Am quiet around strangers</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="five" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="five" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="five" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="five" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="five" value="5">Strongly Agree</label>
    </div>
        </div>

        <div class="question">
        <p><strong>Am the life of the party</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="six" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="six" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="six" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="six" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="six" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Keep in the background</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="seven" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="seven" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="seven" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="seven" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="seven" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Talk to a lot of different people at parties</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="eight" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="eight" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="eight" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="eight" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="eight" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Feel little concern for others</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="nine" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="nine" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="nine" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="nine" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="nine" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Am not interested in other people’s problems</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="ten" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="ten" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="ten" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="ten" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="ten" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Sympathize with others’ feelings</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="eleven" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="eleven" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="eleven" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="eleven" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="eleven" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Take time out for others</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="twelve" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="twelve" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="twelve" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="twelve" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="twelve" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Get chores done right away</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="thirteen" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="thirteen" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="thirteen" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="thirteen" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="thirteen" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Leave my belongings around</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="fourteen" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="fourteen" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="fourteen" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="fourteen" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="fourteen" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Often forget to put things back in their proper place</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="fifteen" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="fifteen" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="fifteen" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="fifteen" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="fifteen" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Follow a schedule</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="sixteen" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="sixteen" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="sixteen" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="sixteen" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="sixteen" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Do not have a good imagination</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="seventeen" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="seventeen" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="seventeen" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="seventeen" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="seventeen" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Am full of ideas</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="eighteen" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="eighteen" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="eighteen" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="eighteen" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="eighteen" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Have a rich vocabulary</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="nineteen" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="nineteen" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="nineteen" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="nineteen" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="nineteen" value="5">Strongly Agree</label>
    </div>    </div>

        <div class="question">
        <p><strong>Have difficulty understanding abstract ideas</strong>:</p>
                <div class="radio">

        <label class="form-check">
            <input type="radio" name="twenty" value="1">Strongly Disagree</label>
        <label class="form-check">
            <input type="radio" name="twenty" value="2">Disagree</label>
        <label class="form-check">
            <input type="radio" name="twenty" value="3">Neutral</label>
        <label class="form-check">
            <input type="radio" name="twenty" value="4">Agree</label>
        <label class="form-check">
            <input type="radio" name="twenty" value="5">Strongly Agree</label>
    </div>    
</div>
<div class="submit">
  <button type="submit" class="btn btn-primary submit">Submit</button></form>
</div>


{% endblock %}
