{% extends 'base.html' %}

{% block content %}
<div><h4><span id="timer"></span></h4></div>

<h1>{% block title %} Missions {% endblock %}</h1>

<div class="card card text-center">
  <h5 class="card-header">Mission</h5>
  <div class="card-body">
    <h5 class="card-title">Group</h5>
    <p class="card-text">Do something together.</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="mission-yes-btn"><i class="fa fa-check"></i></button>  
        <button class="mission-no-btn"><i class="fa fa-close"></i></button>  
    </div>
</div>
</div>

<div class="card card text-center">
  <h5 class="card-header">Mission</h5>
  <div class="card-body">
    <h5 class="card-title">Group</h5>
    <p class="card-text">Do something together.</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="mission-yes-btn"><i class="fa fa-check"></i></button>  
        <button class="mission-no-btn"><i class="fa fa-close"></i></button>  
    </div>
</div>
</div>

<hr>
<h4>Secret Missions</h4>

<div class="card card text-center text-white bg-dark mb-3">
  <h5 class="card-header">Mission</h5>
  <div class="card-body">
    <h5 class="card-title">Individual</h5>
    <p class="card-text">Do something together.</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="mission-yes-btn"><i class="fa fa-check"></i></button>  
        <button class="mission-no-btn"><i class="fa fa-close"></i></button>  
    </div>
</div>
</div>

<div class="card card text-center individual text-white bg-dark mb-3">
  <h5 class="card-header">Mission</h5>
  <div class="card-body">
    <h5 class="card-title">Individual</h5>
    <p class="card-text">Do something together.</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="mission-yes-btn"><i class="fa fa-check"></i></button>  
        <button class="mission-no-btn"><i class="fa fa-close"></i></button>  
    </div>
</div>
</div>


{% endblock %}
