{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Score Submitted! {% endblock %}</h1>

    <h2>You are now done with the study, thank you for participating</h2>

    <p>If you have questions regarding the research project, you can contact Nicola Webb (nicola.webb@brl.ac.uk), Bristol Robotics Laboratory, University of the West of England, Coldharbour Lane, Bristol, BS16 1QY. 

    If you have questions regarding your participation in this work, please contact either UWE Bristol’s Research Ethics Committees (research.ethics@uwe.ac.uk) or UWE Bristol’s research governance manager (Ros.Rouse@uwe.ac.uk). If you wish to exercise your rights or have any other general data protection queries, please contact UWE Bristol’s Data Protection Officer (dataprotection@uwe.ac.uk). </p>
{% endblock %}
